---
// About Section Component
---

<section class="about-section fix">
  <div class="about-container-wrapper style1">
    <div class="container">
      <div class="about-wrapper style1">
        <div class="row gy-5 gx-60">
          <div class="col-xl-6">
            <div class="about-thumb">
              <div class="bg"></div>
              <div class="thumbShape1 d-none d-xxl-block cir36">
                <img src="/src/assets/images/aboutThumbShape1_1.png" alt="shape">
              </div>
              <div class="thumbShape2 d-none d-xxl-block cir36">
                <img src="/src/assets/images/aboutThumbShape1_2.png" alt="shape">
              </div>
              <div class="thumbShape3 d-none d-xxl-block cir36 float-bob-y">
                <img src="/src/assets/images/aboutThumbShape1_3.png" alt="shape">
              </div>
              <div class="thumbShape4 d-none d-xxl-block cir36">
                <img src="/src/assets/images/aboutThumbShape1_4.png" alt="shape">
              </div>
              <div class="main-thumb">
                <img src="/src/assets/images/aboutThumb1_1.png" alt="thumb">
              </div>
              <div class="absolute-thumb float-bob-x">
                <img src="/src/assets/images/aboutThumb1_2.png" alt="thumb">
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="about-content">
              <div class="section-title">
                <div class="subtitle wow fadeInUp" data-wow-delay=".2s">
                  About Our App 
                  <img src="/src/assets/images/icon_title.png" alt="icon">
                </div>
                <h2 class="title wow fadeInUp" data-wow-delay=".4s">
                  Simple Reports & Analytics Backdown As it
                </h2>
                <p class="section-desc wow fadeInUp" data-wow-delay=".6s">
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                </p>
              </div>
              <ul class="checklist style1 wow fadeInUp" data-wow-delay=".2s">
                <li>
                  <img src="/src/assets/images/checkmarkIcon.svg" alt="icon"> 
                  With our Technological and Marketing Solutions.
                </li>
                <li>
                  <img src="/src/assets/images/checkmarkIcon.svg" alt="icon"> 
                  We are trusted all over the world.
                </li>
                <li>
                  <img src="/src/assets/images/checkmarkIcon.svg" alt="icon"> 
                  Start Your 14 Days Free Trials Today!
                </li>
              </ul>
              <a class="theme-btn wow fadeInUp" data-wow-delay=".2s" href="/about" data-discover="true">
                Discover More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <g clip-path="url(#clip0_18_41)">
                    <path d="M11.6118 3.61182L10.8991 4.32454L14.0706 7.49603H0V8.50398H14.0706L10.8991 11.6754L11.6118 12.3882L16 7.99997L11.6118 3.61182Z" fill="white"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_18_41">
                      <rect width="16" height="16" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
