---
// Advantage Section Component
---

<section class="advantage-section fix section-padding">
  <!-- Left Shape Image -->
  <div class="advantage-left-shape">
    <img src="/images/left-shape.png" alt="left shape">
  </div>
  
  <!-- Drive Image -->
  <div class="advantage-drive-image">
    <img src="/images/drive.png" alt="drive">
  </div>
  
  <div class="advantage-container-wrapper style1">
    <div class="container">
      <div class="advantage-wrapper style1 section-padding">
        <div class="container">
          <div class="row gy-5 d-flex align-items-center">
            <div class="col-xl-6 order-2 order-xl-1">
              <div class="advantage-content">
                <div class="section-title wow fadeInUp" data-wow-delay=".2s">
                  <div class="subtitle">
                    GameGeek Advantage 
                    <img src="/images/icon_title.png" alt="icon">
                  </div>
                  <h2 class="title">Empower Your Growth in Vietnam’s Gaming Ecosystem</h2>
                  <p class="section-desc">
                    GameGeek helps studios, publishers, and investors unlock the potential of Vietnam’s rapidly expanding game industry. From insights and data to community and partnerships, we bring every piece of the ecosystem together to create lasting value.
                  </p>
                </div>
                <div class="checklist-wrapper style1 wow fadeInUp" data-wow-delay=".4s">
                  <ul class="checklist style1">
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      Ecosystem Connectivity
                    </li>
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      Insight & Analytics
                    </li>
                  </ul>
                  <ul class="checklist style1">
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      Community Growth 
                    </li>
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      Innovation Support 
                    </li>
                  </ul>
                </div>
                <a class="theme-btn wow fadeInUp" data-wow-delay=".6s" href="/about" data-discover="true">
                  Download App
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_43_54)">
                      <path d="M11.6118 3.61182L10.8991 4.32454L14.0706 7.49603H0V8.50398H14.0706L10.8991 11.6754L11.6118 12.3882L16 7.99997L11.6118 3.61182Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_43_54">
                        <rect width="16" height="16" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-xl-6 order-1 order-xl-2">
              <div class="advantage-thumb">
                <div class="thumb1 img-custom-anim-top wow fadeInDown" data-wow-delay=".8s" data-tilt="true" data-tilt-max="10">
                  <img src="/images/advantageThumb1_1.png" alt="thumb">
                </div>
                <div class="thumb2 img-custom-anim-right wow fadeInRight" data-wow-delay=".4s" data-tilt="true" data-tilt-max="15">
                  <img src="/images/advantageThumb1_2.png" alt="thumb">
                </div>
                <div class="shape1">
                  <img src="/images/advanceThumbShape1_1.png" alt="shape">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .advantage-section {
    position: relative;
    overflow: hidden;
  }

  .advantage-left-shape {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
  }

  .advantage-left-shape img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .advantage-drive-image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0.3;
  }

  .advantage-drive-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .advantage-container-wrapper {
    position: relative;
    z-index: 2;
  }

  @media (max-width: 1199px) {
    .advantage-left-shape,
    .advantage-drive-image {
      display: none;
    }
  }
</style>
