---
// Advantage Section Component
---

<section class="advantage-section fix">
  <div class="advantage-container-wrapper style1">
    <div class="container">
      <div class="advantage-wrapper style1 section-padding">
        <div class="container">
          <div class="row gy-5 d-flex align-items-center">
            <div class="col-xl-6 order-2 order-xl-1">
              <div class="advantage-content">
                <div class="section-title wow fadeInUp" data-wow-delay=".2s">
                  <div class="subtitle">
                    App Advantage 
                    <img src="/images/icon_title.png" alt="icon">
                  </div>
                  <h2 class="title">Get Benefit By Using Trending Apps</h2>
                  <p class="section-desc">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
                  </p>
                </div>
                <div class="checklist-wrapper style1 wow fadeInUp" data-wow-delay=".4s">
                  <ul class="checklist style1">
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      Friendly Design
                    </li>
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      SEO Optimized
                    </li>
                  </ul>
                  <ul class="checklist style1">
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      Cloud Storage 
                    </li>
                    <li>
                      <img src="/images/checkmarkIcon.svg" alt="icon"> 
                      Strong Security 
                    </li>
                  </ul>
                </div>
                <a class="theme-btn wow fadeInUp" data-wow-delay=".6s" href="/about" data-discover="true">
                  Download App
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_43_54)">
                      <path d="M11.6118 3.61182L10.8991 4.32454L14.0706 7.49603H0V8.50398H14.0706L10.8991 11.6754L11.6118 12.3882L16 7.99997L11.6118 3.61182Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_43_54">
                        <rect width="16" height="16" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-xl-6 order-1 order-xl-2">
              <div class="advantage-thumb">
                <div class="thumb1 img-custom-anim-top wow fadeInDown" data-wow-delay=".8s" data-tilt="true" data-tilt-max="10">
                  <img src="/images/advantageThumb1_1.png" alt="thumb">
                </div>
                <div class="thumb2 img-custom-anim-right wow fadeInRight" data-wow-delay=".4s" data-tilt="true" data-tilt-max="15">
                  <img src="/images/advantageThumb1_2.png" alt="thumb">
                </div>
                <div class="shape1">
                  <img src="/images/advanceThumbShape1_1.png" alt="shape">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
