---
// Blog Section Component
---

<section class="blog-section section-padding fix">
  <div class="container">
    <div class="blog-wrapper style1">
      <div class="section-title text-center mxw-685 mx-auto">
        <div class="subtitle wow fadeInUp" data-wow-delay=".2s">
          Our Blog 
          <img src="/src/assets/images/icon_title.png" alt="icon">
        </div>
        <h2 class="title wow fadeInUp" data-wow-delay=".4s">
          Recent Articles And Latest Blog
        </h2>
      </div>
      <div class="row gy-5">
        <div class="col-xl-4 col-md-6">
          <div class="blog-card style1 wow fadeInUp" data-wow-delay=".2s">
            <div class="thumb">
              <img src="/src/assets/images/blogThumb1_1.jpg" alt="thumb">
            </div>
            <div class="body">
              <div class="tag-meta">
                <img src="/src/assets/images/FolderIcon.svg" alt="icon">
                Workplace
              </div>
              <h3>
                <a href="/blog/blog-details" data-discover="true">
                  Services that printing at you is important
                </a>
              </h3>
              <div class="blog-meta">
                <div class="item child1">
                  <span class="icon">
                    <img src="/src/assets/images/userIcon.svg" alt="icon">
                  </span>
                  <span class="text">By Admin</span>
                </div>
                <div class="item">
                  <span class="icon">
                    <img src="/src/assets/images/calendar.svg" alt="icon">
                  </span>
                  <span class="text">Sep 30, 2024</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="blog-card style1 wow fadeInUp" data-wow-delay=".4s">
            <div class="thumb">
              <img src="/src/assets/images/blogThumb1_2.jpg" alt="thumb">
            </div>
            <div class="body">
              <div class="tag-meta">
                <img src="/src/assets/images/FolderIcon.svg" alt="icon">
                Coding
              </div>
              <h3>
                <a href="/blog/blog-details" data-discover="true">
                  A checklist to improve your daily routine
                </a>
              </h3>
              <div class="blog-meta">
                <div class="item child1">
                  <span class="icon">
                    <img src="/src/assets/images/userIcon.svg" alt="icon">
                  </span>
                  <span class="text">By Admin</span>
                </div>
                <div class="item">
                  <span class="icon">
                    <img src="/src/assets/images/calendar.svg" alt="icon">
                  </span>
                  <span class="text">Sep 30, 2024</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="blog-card style1 wow fadeInUp" data-wow-delay=".6s">
            <div class="thumb">
              <img src="/src/assets/images/blogThumb1_1.jpg" alt="thumb">
            </div>
            <div class="body">
              <div class="tag-meta">
                <img src="/src/assets/images/FolderIcon.svg" alt="icon">
                Technology
              </div>
              <h3>
                <a href="/blog/blog-details" data-discover="true">
                  That will help you get 1% better every day
                </a>
              </h3>
              <div class="blog-meta">
                <div class="item child1">
                  <span class="icon">
                    <img src="/src/assets/images/userIcon.svg" alt="icon">
                  </span>
                  <span class="text">By Admin</span>
                </div>
                <div class="item">
                  <span class="icon">
                    <img src="/src/assets/images/calendar.svg" alt="icon">
                  </span>
                  <span class="text">Sep 30, 2024</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
