---
// Counter Section Component
---

<div class="counter-section fix">
  <div class="counter-container-wrapper style1">
    <div class="container">
      <div class="counter-wrapper style1 section-padding">
        <div class="shape"></div>
        <div class="container">
          <div class="row gy-5">
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".2s">
                <div class="counter">
                  <span class="counter-number">56</span> 
                  <span class="plus">+</span>
                </div>
                <p class="text">Customers visit app every months</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".4s">
                <div class="counter">
                  <span class="counter-number">32</span> 
                  <span class="plus">+</span>
                </div>
                <p class="text">Total downloaded of our app</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".6s">
                <div class="counter">
                  <span class="counter-number">156</span> 
                  <span class="plus">k</span>
                </div>
                <p class="text">Total Members of App Users</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".8s">
                <div class="counter">
                  <span class="counter-number">42</span> 
                  <span class="plus">+</span>
                </div>
                <p class="text">Satisfaction rate from our customers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .counter-section {
    position: relative;
    background-image: url('/images/speaker-3-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    
  }

  .counter-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, #f6730d 0%, #d90845 100%);
    opacity: 0.8;    
    z-index: 0;
  }

  .counter-container-wrapper {
    position: relative;
    z-index: 1;
  }

  .counter-wrapper.style1 {
    background-color: transparent !important;
    background-image: none !important;
  }
</style>