---
// Counter Section Component
---

<div class="counter-section fix">
  <div class="counter-container-wrapper style1">
    <div class="container">
      <div class="counter-wrapper style1 section-padding" data-background="/images/counterShape1_1.png" style="background-image: url(&quot;/images/counterShape1_1.png&quot;);">
        <div class="shape"></div>
        <div class="container">
          <div class="row gy-5">
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".2s">
                <div class="counter">
                  <span class="counter-number">56</span> 
                  <span class="plus">+</span>
                </div>
                <p class="text">Customers visit app every months</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".4s">
                <div class="counter">
                  <span class="counter-number">32</span> 
                  <span class="plus">+</span>
                </div>
                <p class="text">Total downloaded of our app</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".6s">
                <div class="counter">
                  <span class="counter-number">156</span> 
                  <span class="plus">k</span>
                </div>
                <p class="text">Total Members of App Users</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 d-flex justify-content-center">
              <div class="counter-box style1 wow fadeInUp" data-wow-delay=".8s">
                <div class="counter">
                  <span class="counter-number">42</span> 
                  <span class="plus">+</span>
                </div>
                <p class="text">Satisfaction rate from our customers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
