---
// CTA Section Component
---

<section class="cta-section">
  <div class="cta-container-wrapper style1">
    <div class="container">
      <div class="cta-wrapper style1 section-padding fix">
        <div class="shape1 d-none d-xxl-block">
          <img src="/images/ctaShape1_1.png" alt="shape">
        </div>
        <div class="shape2 d-none d-xxl-block">
          <img src="/images/ctaShape1_2.png" alt="shape">
        </div>
        <div class="shape3 d-none d-xxl-block">
          <img src="/images/ctaShape1_3.png" alt="shape">
        </div>
        <div class="shape4 d-none d-xxl-block">
          <img src="/images/ctaShape1_4.png" alt="shape">
        </div>
        <div class="container">
          <div class="row gy-5">
            <div class="col-xl-8 order-2 order-xl-1">
              <div class="cta-content">
                <div class="section-title">
                  <div class="subtitle text-white bg2 wow fadeInUp" data-wow-delay=".2s">
                    Our App 
                    <img src="/images/icon_title.png" alt="icon">
                  </div>
                  <h2 class="title text-white wow fadeInUp" data-wow-delay=".4s">
                    Download our app and start your free trail to get started today!
                  </h2>
                  <p class="section-desc text-white mxw-651 wow fadeInUp" data-wow-delay=".6s">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                  </p>
                </div>
                <a class="playstore" href="https://play.google.com/store">
                  <img src="/images/ctaplayStore1_1.png" alt="img">
                </a>
                <a href="https://www.apple.com/store">
                  <img src="/images/ctaAppleStore1_1.png" alt="img">
                </a>
              </div>
            </div>
            <div class="col-xl-4 order-1 order-xl-2">
              <div class="cta-thumb wow fadeInUp" data-wow-delay=".2s">
                <img src="/images/ctaThumb1_1.png" alt="thumb">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
