---
// Feature Provide Section Component
---

<section class="feature-provide-section fix section-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
        <div class="feature-provide-box-items style-2">
          <div class="item-shape">
            <img src="/images/wcuIcon1_1.png" alt="img">
          </div>
          <div class="item-shape-2">
            <img src="/images/wcuIcon1_2.png" alt="img">
          </div>
          <div class="icon">
            <img src="/images/wcuIcon1_1.svg" alt="img">
          </div>
          <div class="content">
            <h3>Sales automation</h3>
            <p>This title is versatile and can adapted to fit the specific tone and branding of your website quality.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
        <div class="feature-provide-box-items">
          <div class="item-shape">
            <img src="/images/wcuIcon1_2.png" alt="img">
          </div>
          <div class="item-shape-2">
            <img src="/images/wcuIcon1_3.png" alt="img">
          </div>
          <div class="icon">
            <img src="/images/wcuIcon1_2.svg" alt="img">
          </div>
          <div class="content">
            <h3>Contact management</h3>
            <p>This title is versatile and can adapted to fit the specific tone and branding of your website quality.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
        <div class="feature-provide-box-items style-2">
          <div class="item-shape">
            <img src="/images/wcuIcon1_3.png" alt="img">
          </div>
          <div class="item-shape-2">
            <img src="/images/wcuIcon1_4.png" alt="img">
          </div>
          <div class="icon">
            <img src="/images/wcuIcon1_3.svg" alt="img">
          </div>
          <div class="content">
            <h3>Task Management</h3>
            <p>This title is versatile and can adapted to fit the specific tone and branding of your website quality.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

