---
// Feature Section Component
---

<section class="feature-section section-padding fix">
  <div class="container">
    <div class="feature-wrapper style1">
      <div class="row gy-5 gx-134">
        <div class="col-xl-6 order-2 order-xl-1">
          <div class="feature-content">
            <div class="section-title">
              <div class="subtitle wow fadeInUp" data-wow-delay=".2s">
                Our Features 
                <img src="/src/assets/images/icon_title.png" alt="icon">
              </div>
              <h2 class="title wow fadeInUp" data-wow-delay=".4s">
                Our features will help to improve business
              </h2>
              <p class="section-desc wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which do not look even slightly
              </p>
            </div>
            <a class="theme-btn wow fadeInUp" data-wow-delay=".2s" href="/contact" data-discover="true">
              Start Collaborator 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <g clip-path="url(#clip0_91_29)">
                  <path d="M11.6118 3.61182L10.8991 4.32454L14.0706 7.49603H0V8.50398H14.0706L10.8991 11.6754L11.6118 12.3882L16 7.99997L11.6118 3.61182Z" fill="white"></path>
                </g>
                <defs>
                  <clipPath id="clip0_91_29">
                    <rect width="16" height="16" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
        <div class="col-xl-6 order-1 order-xl-2">
          <div class="feature-box-wrapper">
            <div class="feature-box style1 child1">
              <div class="feature-box-header wow fadeInUp" data-wow-delay=".2s">
                <div class="content">
                  <h5>Software development</h5>
                  <p class="text">UX Research</p>
                </div>
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
                    <circle cx="17" cy="17.5" r="16" stroke="#F1F1F1" stroke-width="2"></circle>
                  </svg>
                </div>
              </div>
              <div class="feature-box-footer wow fadeInUp" data-wow-delay=".4s">
                <div class="content">
                  <span class="day">Today</span>
                  <span class="time">07:02 AM</span>
                </div>
                <div class="shape">
                  <img src="/src/assets/images/featureProfileShape1_1.png" alt="shape">
                </div>
              </div>
            </div>
            <div class="feature-box style1 child2">
              <div class="feature-box-header wow fadeInUp" data-wow-delay=".6s">
                <div class="content">
                  <h5>Design data & analytics</h5>
                  <p class="text">UX Research</p>
                </div>
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
                    <circle cx="17" cy="17.5" r="16" stroke="#F1F1F1" stroke-width="2"></circle>
                  </svg>
                </div>
              </div>
              <div class="feature-box-footer wow fadeInUp" data-wow-delay=".6s">
                <div class="content">
                  <span class="day">Today</span>
                  <span class="time">07:02 AM</span>
                </div>
                <div class="shape">
                  <img src="/src/assets/images/featureProfileShape1_1.png" alt="shape">
                </div>
              </div>
            </div>
            <div class="feature-box style1 wow fadeInUp" data-wow-delay=".6s">
              <div class="feature-box-header">
                <div class="content">
                  <h5>Dedicated Support</h5>
                  <p class="text">UX Research</p>
                </div>
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35" fill="none">
                    <circle cx="17" cy="17.5" r="16" stroke="#F1F1F1" stroke-width="2"></circle>
                  </svg>
                </div>
              </div>
              <div class="feature-box-footer">
                <div class="content">
                  <span class="day">Today</span>
                  <span class="time">07:02 AM</span>
                </div>
                <div class="shape">
                  <img src="/src/assets/images/featureProfileShape1_1.png" alt="shape">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
