---
// Intro Solution Section Component
---

<section class="intro-solution">
  <div class="intro-container-wrapper style2 section-padding pt-0">
    <div class="intro-wrapper style2" data-background="/images/introBg2_1.png" style="background-image: url('/images/introBg2_1.png');">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="intro-content">
              <div class="intro-section-title">
                <div class="intro-subtitle wow fadeInUp" data-wow-delay=".4s">
                  Find Your Solution 
                  <img src="/images/fireIcon.svg" alt="icon">
                </div>
                <h1 class="intro-title wow fadeInUp" data-wow-delay=".2s">
                  End-to-End Solutions for Global Partners <br>One hub for strategy, execution, and sustained growth.
                </h1>
              </div>
              <div class="btn-wrapper style1 wow fadeInUp" data-wow-delay=".2s">
                <a class="theme-btn" href="/contact" data-discover="true">
                  Get Started Now
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_141_224)">
                      <path d="M11.6118 3.61182L10.8991 4.32454L14.0706 7.49603H0V8.50398H14.0706L10.8991 11.6754L11.6118 12.3882L16 7.99997L11.6118 3.61182Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_141_224">
                        <rect width="16" height="16" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
                <a class="theme-btn style3 wow fadeInUp" data-wow-delay=".2s" href="/about" data-discover="true">
                  Learn More
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_141_223)">
                      <path d="M11.6118 3.61182L10.8991 4.32454L14.0706 7.49603H0V8.50398H14.0706L10.8991 11.6754L11.6118 12.3882L16 7.99997L11.6118 3.61182Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_141_223">
                        <rect width="16" height="16" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thumb-box">
      <div class="main-thumb">
        <img class="img-custom-anim-left wow fadeInUp" data-wow-delay=".2s" src="/images/introThumb2_1.png" alt="thumb">
        <div class="thumb1 float-bob-y">
          <img src="/images/introThumb2_2.png" alt="thumb">
        </div>
        <div class="thumb2 float-bob-x">
          <img src="/images/introThumb2_3.png" alt="thumb">
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .intro-solution {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: visible;
  }

  .intro-container-wrapper.style2 {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
  }

  .intro-container-wrapper.style2 .thumb-box {
    position: relative;
    z-index: 10;
    margin-top: -200px;
  }

  .intro-container-wrapper.style2 .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  @media (min-width: 1200px) {
    .intro-container-wrapper.style2 .container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
</style>

