---
// Team Section Component
---

<section class="team-page-section section-padding fix">
  <div class="team-page-container-wrapper style1">
    <div class="container">
    <div class="section-title text-center mxw-685 mx-auto wow fadeInUp" data-wow-delay=".2s" data-astro-source-file="C:/Workspace/gamegeek/src/components/sections/WhyChooseUsSection.astro" data-astro-source-loc="8:96"> <div data-astro-source-file="C:/Workspace/gamegeek/src/components/sections/WhyChooseUsSection.astro" data-astro-source-loc="9:14"> <div class="subtitle wow fadeInUp" data-wow-delay=".2s" data-astro-source-file="C:/Workspace/gamegeek/src/components/sections/WhyChooseUsSection.astro" data-astro-source-loc="10:67">
Our team
<img src="/images/icon_title.png" alt="icon" data-astro-source-file="C:/Workspace/gamegeek/src/components/sections/WhyChooseUsSection.astro" data-astro-source-loc="12:14"> </div> <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-astro-source-file="C:/Workspace/gamegeek/src/components/sections/WhyChooseUsSection.astro" data-astro-source-loc="14:63">
Connect and scale faster in Vietnam’s game industry.
</h2> </div> </div>
      <div class="team-page-wrapper style1">
        <div class="row gy-5">
          <!-- Team Member 1 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/images/team/anh1.png" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Ha Nhu Dong</a></h3>
                <p class="designation">Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 2 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/images/team/anh2.png" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Hanh Minh Vu</a></h3>
                <p class="designation">CEO</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 3 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/images/team/anh3.png" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Hai Xuan Trinh</a></h3>
                <p class="designation">Head Of Partnership</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 4 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/images/team/anh4.png" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Hoa Thai Do</a></h3>
                <p class="designation">Business Development</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 5 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/images/team/anh1.png" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Annette Black</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 6 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/images/team/anh1.png" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Jacob Jones</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

