---
// Team Section Component
---

<section class="team-page-section section-padding fix">
  <div class="team-page-container-wrapper style1">
    <div class="container">
      <div class="team-page-wrapper style1">
        <div class="row gy-5">
          <!-- Team Member 1 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/assets/images/team/teamThumb1_1.jpg" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Masirul Islam</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 2 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/assets/images/team/teamThumb1_2.jpg" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Tonya Martin</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 3 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/assets/images/team/teamThumb1_3.jpg" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Stephan Bullok</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 4 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/assets/images/team/teamThumb1_4.jpg" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Dianne Russell</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 5 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/assets/images/team/teamThumb1_5.jpg" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Annette Black</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Team Member 6 -->
          <div class="col-xl-4 col-md-6">
            <div class="team-card style1">
              <div class="team-thumb">
                <img src="/assets/images/team/teamThumb1_6.jpg" alt="thumb">
              </div>
              <div class="team-card-content">
                <h3><a href="/team/team-details" data-discover="true">Jacob Jones</a></h3>
                <p class="designation">co-Founder</p>
                <ul class="social-links">
                  <li><a href="/team" data-discover="true"><i class="bi bi-facebook"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-twitter"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="/team" data-discover="true"><i class="bi bi-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

