---
// Testimonial Section Component
---

<section class="testimonial-section">
  <div class="testimonial-container-wrapper style1">
    <div class="container">
      <div class="testimonial-wrapper style1 section-padding fix">
        <div class="shape1">
          <img src="/src/assets/images/testimonialShape1_1.png" alt="shape">
        </div>
        <div class="shape2">
          <img src="/src/assets/images/testimonialShape1_2.png" alt="shape">
        </div>
        <div class="container">
          <div class="section-title text-center mxw-685 mx-auto">
            <div>
              <div class="subtitle wow fadeInUp" data-wow-delay=".2s">
                Testimonial 
                <img src="/src/assets/images/icon_title.png" alt="icon">
              </div>
              <h2 class="title wow fadeInUp" data-wow-delay=".4s">
                What our clients say?
              </h2>
            </div>
          </div>
          <div class="slider-area testimonialSliderOne">
            <div class="swiper gt-slider" id="testimonialSliderOne">
              <div class="swiper-wrapper cs_slider_gap_301">
                <div class="slick-slider slick-initialized" dir="ltr">
                  <div class="slick-list">
                    <div class="slick-track" style="width: 5880px; opacity: 1; transform: translate3d(-1568px, 0px, 0px); transition: -webkit-transform 2000ms;">
                      <!-- Testimonial 1 -->
                      <div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline: none; width: 392px;">
                        <div>
                          <div class="swiper-slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="testimonial-card style1">
                              <div class="testimonial-header">
                                <div class="profile-thumb">
                                  <img src="/src/assets/images/testimonialProfileThumb1_1.jpg" alt="thumb">
                                </div>
                                <div class="content">
                                  <h5>Jacob Jones</h5>
                                  <p class="text">Team Leader</p>
                                </div>
                              </div>
                              <div class="testimonial-body">
                                <ul class="star-wrapper style1">
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                </ul>
                                <p class="desc">
                                  There are many variations of passages of Lorem Ipsum available,a but chiropractor like majority have a suffered alteration in some form, by injected humour
                                </p>
                              </div>
                              <div class="quote-icon">
                                <img src="/src/assets/images/quoteIcon.svg" alt="icon">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Testimonial 2 -->
                      <div data-index="1" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 392px;">
                        <div>
                          <div class="swiper-slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="testimonial-card style1">
                              <div class="testimonial-header">
                                <div class="profile-thumb">
                                  <img src="/src/assets/images/testimonialProfileThumb1_2.jpg" alt="thumb">
                                </div>
                                <div class="content">
                                  <h5>Masirul Jones</h5>
                                  <p class="text">Team Leader</p>
                                </div>
                              </div>
                              <div class="testimonial-body">
                                <ul class="star-wrapper style1">
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                </ul>
                                <p class="desc">
                                  There are many variations of passages of Lorem Ipsum available,a but chiropractor like majority have a suffered alteration in some form, by injected humour
                                </p>
                              </div>
                              <div class="quote-icon">
                                <img src="/src/assets/images/quoteIcon.svg" alt="icon">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Testimonial 3 -->
                      <div data-index="2" class="slick-slide slick-active" tabindex="-1" aria-hidden="false" style="outline: none; width: 392px;">
                        <div>
                          <div class="swiper-slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="testimonial-card style1">
                              <div class="testimonial-header">
                                <div class="profile-thumb">
                                  <img src="/src/assets/images/testimonialProfileThumb1_3.jpg" alt="thumb">
                                </div>
                                <div class="content">
                                  <h5>Adam Jones</h5>
                                  <p class="text">Team Leader</p>
                                </div>
                              </div>
                              <div class="testimonial-body">
                                <ul class="star-wrapper style1">
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                </ul>
                                <p class="desc">
                                  There are many variations of passages of Lorem Ipsum available,a but chiropractor like majority have a suffered alteration in some form, by injected humour
                                </p>
                              </div>
                              <div class="quote-icon">
                                <img src="/src/assets/images/quoteIcon.svg" alt="icon">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Testimonial 4 -->
                      <div data-index="3" class="slick-slide slick-active" tabindex="-1" aria-hidden="false" style="outline: none; width: 392px;">
                        <div>
                          <div class="swiper-slide" tabindex="-1" style="width: 100%; display: inline-block;">
                            <div class="testimonial-card style1">
                              <div class="testimonial-header">
                                <div class="profile-thumb">
                                  <img src="/src/assets/images/testimonialProfileThumb1_1.jpg" alt="thumb">
                                </div>
                                <div class="content">
                                  <h5>Wade Warren</h5>
                                  <p class="text">Team Leader</p>
                                </div>
                              </div>
                              <div class="testimonial-body">
                                <ul class="star-wrapper style1">
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                  <li><img src="/src/assets/images/starIcon1_1.svg" alt="icon"></li>
                                </ul>
                                <p class="desc">
                                  There are many variations of passages of Lorem Ipsum available,a but chiropractor like majority have a suffered alteration in some form, by injected humour
                                </p>
                              </div>
                              <div class="quote-icon">
                                <img src="/src/assets/images/quoteIcon.svg" alt="icon">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
