---
// Why Choose Us Section Component
---

<section class="wcu-section section-padding fix">
  <div class="wcu-container-wrapper style1">
    <div class="container">
      <div class="section-title text-center mxw-685 mx-auto wow fadeInUp" data-wow-delay=".2s">
        <div>
          <div class="subtitle wow fadeInUp" data-wow-delay=".2s">
            Why using our app 
            <img src="/src/assets/images/icon_title.png" alt="icon">
          </div>
          <h2 class="title wow fadeInUp" data-wow-delay=".4s">
            Our app is great for individuals, startups and enterprises
          </h2>
        </div>
      </div>
      <div class="wcu-wrapper style1">
        <div class="row gy-5 d-flex justify-content-center">
          <div class="col-xl-4 d-flex justify-content-center">
            <div class="wcu-content">
              <div class="fancy-box style2">
                <div class="icon">
                  <img src="/src/assets/images/wcuIcon1_1.svg" alt="icon">
                </div>
                <div class="content wow fadeInUp" data-wow-delay=".2s">
                  <h4>High usability</h4>
                  <p class="text">There are many variations of passages of Lorem Ipsum</p>
                </div>
              </div>
              <div class="fancy-box style2">
                <div class="icon">
                  <img src="/src/assets/images/wcuIcon1_2.svg" alt="icon">
                </div>
                <div class="content wow fadeInUp" data-wow-delay=".2s">
                  <h4>Action Reminder</h4>
                  <p class="text">There are many variations of passages of Lorem Ipsum</p>
                </div>
              </div>
              <div class="fancy-box style2">
                <div class="icon">
                  <img src="/src/assets/images/wcuIcon1_3.svg" alt="icon">
                </div>
                <div class="content wow fadeInUp" data-wow-delay=".2s">
                  <h4>Merge Files</h4>
                  <p class="text">There are many variations of passages of Lorem Ipsum</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 d-flex justify-content-center">
            <div class="wcu-thumb wow fadeInUp" data-wow-delay=".2s">
              <div class="main-thumb wow bounceInUp" data-wow-delay=".6s">
                <img src="/src/assets/images/wcuThumb1_1.png" alt="thumb">
              </div>
              <div class="shape">
                <img src="/src/assets/images/wcuThumbShape1_1.png" alt="shape">
              </div>
            </div>
          </div>
          <div class="col-xl-4 d-flex justify-content-center justify-content-xl-end">
            <div class="wcu-content">
              <div class="fancy-box style2">
                <div class="icon">
                  <img src="/src/assets/images/wcuIcon1_4.svg" alt="icon">
                </div>
                <div class="content wow fadeInUp" data-wow-delay=".2s">
                  <h4>Free Live Chat</h4>
                  <p class="text">There are many variations of passages of Lorem Ipsum</p>
                </div>
              </div>
              <div class="fancy-box style2">
                <div class="icon">
                  <img src="/src/assets/images/wcuIcon1_5.svg" alt="icon">
                </div>
                <div class="content wow fadeInUp" data-wow-delay=".2s">
                  <h4>Social Share</h4>
                  <p class="text">There are many variations of passages of Lorem Ipsum</p>
                </div>
              </div>
              <div class="fancy-box style2">
                <div class="icon">
                  <img src="/src/assets/images/wcuIcon1_6.svg" alt="icon">
                </div>
                <div class="content wow fadeInUp" data-wow-delay=".2s">
                  <h4>Custom Shortcuts</h4>
                  <p class="text">There are many variations of passages of Lorem Ipsum</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
