---
// Work Process Section Component
---

<section class="work-process-section section-padding fix">
  <div class="work-process-container-wrapper style1">
    <div class="container">
      <div class="section-title text-center mxw-565 mx-auto">
        <div>
          <div class="subtitle wow fadeInUp" data-wow-delay=".2s">
            How It Work 
            <img src="/images/icon_title.png" alt="icon">
          </div>
          <h2 class="title wow fadeInUp" data-wow-delay=".4s">
            Make Your Device Manage Everything For You!
          </h2>
        </div>
      </div>
      <div class="work-process-wrapper style1">
        <div class="shape">
          <img src="/images/workProcessShape1_1.png" alt="shape">
        </div>
        <div class="row">
          <div class="col-xl-4">
            <div class="work-process-box style1 wow fadeInUp" data-wow-delay=".2s">
              <div class="step">STEP - 01</div>
              <div class="title">Download App</div>
              <div class="text">There are many variations of passages of Lorem</div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="work-process-box style1 child2 wow fadeInUp" data-wow-delay=".4s">
              <div class="step">STEP - 02</div>
              <div class="title">Create account</div>
              <div class="text">There are many variations of passages of Lorem</div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="work-process-box style1 wow fadeInUp" data-wow-delay=".6s">
              <div class="step">STEP - 03</div>
              <div class="title">Install App, & Enjoy</div>
              <div class="text">There are many variations of passages of Lorem</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
