---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Careers | GameGeek">

<!-- Custom Cursor -->
<div class="cursor"><span class="cursor-text"></span></div>
<div class="cursor-inner"></div>

<div id="smooth-wrapper">
  <div id="smooth-content">
    <!-- Navbar Start -->
    <Navbar variant="white" />
    <!-- Navbar End -->

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-area position-relative z-1">
      <img src="/renius/image/br-line-shape.png" alt="Shape" class="br-line-shape position-absolute top-0 start-0 w-100 h-100 z-n1">
      <img src="/renius/image/br-shape-1.png" alt="Shape" class="br-shape-one position-absolute z-n1 bounce">
      <img src="/renius/image/br-shape-2.png" alt="Shape" class="br-shape-two position-absolute bottom-0 z-n1 moveHorizontal">
      <div class="container-fluid px-xxl-5">
        <div class="row">
          <div class="col-md-10 offset-md-1 text-center">
            <h2 class="section-title style-one fw-black text-title">CAREERS</h2>
            <ul class="br-menu list-unstyled">
              <li><a href="/"><img src="/renius/image/home-icon.svg" alt="Icon">HOME</a></li>
              <li>CAREERS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Career Section Start -->
    <div class="container ptb-120">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-md-6">
          <div class="job-card style-one position-relative z-1 round-10 mb-30">
            <div class="job-info">
              <h3 class="fs-24 fw-bold"><a href="/career/real-estate-sales-associates" class="text-title link-hover-primary transition">Real Estate Sales Associates</a></h3>
              <ul class="job-metainfo list-unstyled">
                <li class="position-relative"><i class="ri-map-pin-line"></i><span class="fw-medium text-title me-1">Location:</span> Ha Noi</li>
                <li class="position-relative"><i class="ri-briefcase-line"></i><span class="fw-medium text-title me-1">Type:</span> Full-Time</li>
                <li class="position-relative"><i class="ri-user-line"></i><span class="fw-medium text-title me-1">Experience:</span>4+ Years</li>
              </ul>
              <div class="text-center">
                <a href="/career/real-estate-sales-associates" class="link style-one fw-semibold">Apply Now <img src="/renius/image/right-arrow-small.svg" alt="Icon"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="job-card style-one position-relative z-1 round-10 mb-30">
            <div class="job-info">
              <h3 class="fs-24 fw-bold"><a href="/career/construction-project-manager" class="text-title link-hover-primary transition">Construction Project Manager</a></h3>
              <ul class="job-metainfo list-unstyled">
                <li class="position-relative"><i class="ri-map-pin-line"></i><span class="fw-medium text-title me-1">Location:</span> Ha Noi</li>
                <li class="position-relative"><i class="ri-briefcase-line"></i><span class="fw-medium text-title me-1">Type:</span> Full-Time</li>
                <li class="position-relative"><i class="ri-user-line"></i><span class="fw-medium text-title me-1">Experience:</span>2+ Years</li>
              </ul>
              <div class="text-center">
                <a href="/career/construction-project-manager" class="link style-one fw-semibold">Apply Now <img src="/renius/image/right-arrow-small.svg" alt="Icon"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="job-card style-one position-relative z-1 round-10 mb-30">
            <div class="job-info">
              <h3 class="fs-24 fw-bold"><a href="/career/architectural-assistant" class="text-title link-hover-primary transition">Architectural Assistant</a></h3>
              <ul class="job-metainfo list-unstyled">
                <li class="position-relative"><i class="ri-map-pin-line"></i><span class="fw-medium text-title me-1">Location:</span> Ha Noi</li>
                <li class="position-relative"><i class="ri-briefcase-line"></i><span class="fw-medium text-title me-1">Type:</span> Full-Time</li>
                <li class="position-relative"><i class="ri-user-line"></i><span class="fw-medium text-title me-1">Experience:</span>5+ Years</li>
              </ul>
              <div class="text-center">
                <a href="#" class="link style-one fw-semibold">Apply Now <img src="/renius/image/right-arrow-small.svg" alt="Icon"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="job-card style-one position-relative z-1 round-10 mb-30">
            <div class="job-info">
              <h3 class="fs-24 fw-bold"><a href="#" class="text-title link-hover-primary transition">Property Manager</a></h3>
              <ul class="job-metainfo list-unstyled">
                <li class="position-relative"><i class="ri-map-pin-line"></i><span class="fw-medium text-title me-1">Location:</span> Ho Chi Minh City</li>
                <li class="position-relative"><i class="ri-briefcase-line"></i><span class="fw-medium text-title me-1">Type:</span> Full-Time</li>
                <li class="position-relative"><i class="ri-user-line"></i><span class="fw-medium text-title me-1">Experience:</span>4+ Years</li>
              </ul>
              <div class="text-center">
                <a href="#" class="link style-one fw-semibold">Apply Now <img src="/renius/image/right-arrow-small.svg" alt="Icon"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="job-card style-one position-relative z-1 round-10 mb-30">
            <div class="job-info">
              <h3 class="fs-24 fw-bold"><a href="#" class="text-title link-hover-primary transition">Construction Officer</a></h3>
              <ul class="job-metainfo list-unstyled">
                <li class="position-relative"><i class="ri-map-pin-line"></i><span class="fw-medium text-title me-1">Location:</span> Ho Chi Minh City</li>
                <li class="position-relative"><i class="ri-briefcase-line"></i><span class="fw-medium text-title me-1">Type:</span> Full-Time</li>
                <li class="position-relative"><i class="ri-user-line"></i><span class="fw-medium text-title me-1">Experience:</span>3+ Years</li>
              </ul>
              <div class="text-center">
                <a href="#" class="link style-one fw-semibold">Apply Now <img src="/renius/image/right-arrow-small.svg" alt="Icon"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="job-card style-one position-relative z-1 round-10 mb-30">
            <div class="job-info">
              <h3 class="fs-24 fw-bold"><a href="#" class="text-title link-hover-primary transition">Client Relationship Officer</a></h3>
              <ul class="job-metainfo list-unstyled">
                <li class="position-relative"><i class="ri-map-pin-line"></i><span class="fw-medium text-title me-1">Location:</span> Ho Chi Minh City</li>
                <li class="position-relative"><i class="ri-briefcase-line"></i><span class="fw-medium text-title me-1">Type:</span> Full-Time</li>
                <li class="position-relative"><i class="ri-user-line"></i><span class="fw-medium text-title me-1">Experience:</span>3+ Years</li>
              </ul>
              <div class="text-center">
                <a href="#" class="link style-one fw-semibold">Apply Now <img src="/renius/image/right-arrow-small.svg" alt="Icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="page-nav pagination justify-content-center mb-0 mt-lg-5">
        <li class="page-item">
          <a class="page-link d-flex flex-column align-items-center justify-content-center rounded-circle" href="#" aria-label="Previous">
            <i class="ri-arrow-left-line"></i>
          </a>
        </li>
        <li class="page-item"><a class="page-link d-flex flex-column align-items-center justify-content-center rounded-circle active" href="#">01</a></li>
        <li class="page-item"><a class="page-link d-flex flex-column align-items-center justify-content-center rounded-circle" href="#">02</a></li>
        <li class="page-item"><a class="page-link d-flex flex-column align-items-center justify-content-center rounded-circle" href="#">03</a></li>
        <li class="page-item">
          <a class="page-link d-flex flex-column align-items-center justify-content-center rounded-circle" href="#" aria-label="Next">
            <i class="ri-arrow-right-line"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Career Section End -->

    <!-- Footer Section Start -->
    <Footer />
    <!-- Footer End -->

  </div>
</div>

</Layout>

