---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Us - Gamegeek">
  <script>
    // Redirect to home and open contact modal
    if (typeof window !== 'undefined') {
      window.location.href = '/';
      window.addEventListener('load', () => {
        setTimeout(() => {
          if (typeof window.openContactModal === 'function') {
            window.openContactModal();
          } else {
            window.dispatchEvent(new Event('openContactModal'));
          }
        }, 500);
      });
    }
  </script>
  <div class="pt-16 text-center py-20">
    <p>Redirecting to home page...</p>
  </div>
</Layout>
