---
import LayoutNico from '../layouts/LayoutNico.astro';
---

<LayoutNico title="News - Gamegeek" description="Stay updated with the latest news and insights from GameGeek.">
  <div>
    <div class="breadcumb-section fix">
      <div class="breadcumb-container-wrapper" data-background="/images/news_bg_sp.png" style="background-image: url('/images/news_bg_sp.png'); background-size: cover; background-repeat: no-repeat;">
        <div class="container">
          <div class="shape1">
            <img src="/images/introShape1_1.png" alt="shape">
          </div>
          <div class="shape2">
            <img src="/images/introShape1_2.png" alt="shape">
          </div>
          <div class="breadcumb-wrapper">
            <div class="page-heading">
              <h1>News and insights</h1>
              <p>Stay updated with the latest industry insights and discussions within Vietnam's game community</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="news-standard fix section-padding">
      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-lg-8">
            <div class="news-standard-wrapper">
              <div class="news-standard-items wow fadeInUp" data-wow-delay=".2s">
                <div class="news-thumb">
                  <img src="/images/1748226528-4814542829448199111382598292933028175524248n.jpg" alt="img">
                  <div class="post-date">
                    <h3>28 <br><span>Aug</span></h3>
                  </div>
                </div>
                <div class="news-content">
                  <ul>
                    <li><i class="bi bi-person"></i>By Admin</li>
                    <li><i class="bi bi-chat"></i>0 Comments</li>
                  </ul>
                  <h3><a href="/news/vietnam-has-topped-the-world-in-mobile-game-exports-momentum-peaks-at-vietnam-game-connect-2025" data-discover="true">Vietnam Has Topped the World in Mobile Game Exports. Momentum Peaks at Vietnam Game Connect 2025</a></h3>
                  <p>At Vietnam Game Connect 2025, a Google representative confirmed that the Vietnam's game industry achieved 6.7 billion global downloads in 2024, the highest of any country last year. With this, Vietnam officially surpassed China to become the world's top exporter of mobile games.</p>
                  <a class="theme-btn mt-4" href="/news/vietnam-has-topped-the-world-in-mobile-game-exports-momentum-peaks-at-vietnam-game-connect-2025" data-discover="true">Read More<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
              <div class="news-standard-items wow fadeInUp" data-wow-delay=".4s">
                <div class="news-thumb">
                  <img src="/images/blogThumb1_1.jpg" alt="img">
                  <div class="post-date">
                    <h3>27 <br><span>Feb</span></h3>
                  </div>
                </div>
                <div class="news-content">
                  <ul>
                    <li><i class="bi bi-person"></i>By Admin</li>
                    <li><i class="bi bi-chat"></i>3 Comments</li>
                  </ul>
                  <h3><a href="/news/news-details" data-discover="true">Choose The Best IT Service Company in the City.</a></h3>
                  <p>Pellentesque egestas rutrum nibh facilisis ultrices. Phasellus in magna ut orci malesuada the sollicitudin. Aenean faucibus scelerisque convallis. Quisque interdum mauris id nunc molestie tincidunt erat gravida. Nullam dui libero, mollis ac quam et, venenatis.</p>
                  <a class="theme-btn mt-4" href="/news/news-details" data-discover="true">Read More<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
              <div class="news-standard-items wow fadeInUp" data-wow-delay=".4s">
                <div class="news-thumb">
                  <img src="/images/blogThumb1_2.jpg" alt="img">
                  <div class="post-date">
                    <h3>19 <br><span>Feb</span></h3>
                  </div>
                </div>
                <div class="news-content">
                  <ul>
                    <li><i class="bi bi-person"></i>By Admin</li>
                    <li><i class="bi bi-chat"></i>2 Comments</li>
                  </ul>
                  <h3><a href="/news/news-details" data-discover="true">Keep Your Business Safe Ensure High Availability</a></h3>
                  <p>Pellentesque egestas rutrum nibh facilisis ultrices. Phasellus in magna ut orci malesuada the sollicitudin. Aenean faucibus scelerisque convallis. Quisque interdum mauris id nunc molestie tincidunt erat gravida. Nullam dui libero, mollis ac quam et, venenatis.</p>
                  <a class="theme-btn mt-4" href="/news/news-details" data-discover="true">Read More<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
              <div class="news-standard-items wow fadeInUp" data-wow-delay=".6s">
                <div class="news-thumb">
                  <img src="/images/blogThumb1_1.jpg" alt="img">
                  <div class="post-date">
                    <h3>28 <br><span>Feb</span></h3>
                  </div>
                </div>
                <div class="news-content">
                  <ul>
                    <li><i class="bi bi-person"></i>By Admin</li>
                    <li><i class="bi bi-chat"></i>0 Comments</li>
                  </ul>
                  <h3><a href="/news/news-details" data-discover="true">Tackling the Changes of Retell Industry</a></h3>
                  <p>Pellentesque egestas rutrum nibh facilisis ultrices. Phasellus in magna ut orci malesuada the sollicitudin. Aenean faucibus scelerisque convallis. Quisque interdum mauris id nunc molestie tincidunt erat gravida. Nullam dui libero, mollis ac quam et, venenatis.</p>
                  <a class="theme-btn mt-4" href="/news/news-details" data-discover="true">Read More<i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="main-sidebar">
              <div class="single-sidebar-widget wow fadeInUp" data-wow-delay=".2s">
                <div class="wid-title"><h3>Search</h3></div>
                <div class="search-widget">
                  <form action="#">
                    <input type="text" placeholder="Search here">
                    <button type="submit"><i class="bi bi-search"></i></button>
                  </form>
                </div>
              </div>
              <div class="single-sidebar-widget wow fadeInUp" data-wow-delay=".4s">
                <div class="wid-title"><h3>Categories</h3></div>
                <div class="news-widget-categories">
                  <ul>
                    <li><a href="/news/news-details" data-discover="true">Database Security <span>(08)</span></a></li>
                    <li><a href="/news/news-details" data-discover="true">IT Consultancy <span>(11)</span></a></li>
                    <li class="active"><a href="/news/news-details" data-discover="true">App Development <span>(12)</span></a></li>
                    <li><a href="/news/news-details" data-discover="true">UI/UX Design <span>(18)</span></a></li>
                    <li><a href="/news/news-details" data-discover="true">Cyber Security <span>(07)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="single-sidebar-widget wow fadeInUp" data-wow-delay=".6s">
                <div class="wid-title"><h3>Recent Post</h3></div>
                <div class="recent-post-area">
                  <div class="recent-items">
                    <div class="recent-thumb"><img src="/images/blogThumb1_1.jpg" alt="img"></div>
                    <div class="recent-content">
                      <ul>
                        <li><img src="/images/calendar.svg" alt="icon">18 Dec, 2024</li>
                      </ul>
                      <h6><a href="/news/news-details" data-discover="true">Keep Your Business Safe & <br>Endure High Availability</a></h6>
                    </div>
                  </div>
                  <div class="recent-items">
                    <div class="recent-thumb"><img src="/images/blogThumb1_2.jpg" alt="img"></div>
                    <div class="recent-content">
                      <ul>
                        <li><img src="/images/calendar.svg" alt="icon">18 Dec, 2024</li>
                      </ul>
                      <h6><a href="/news/news-details" data-discover="true">Tacking the Changes of <br>Retail Industry</a></h6>
                    </div>
                  </div>
                  <div class="recent-items">
                    <div class="recent-thumb"><img src="/images/blogThumb1_1.jpg" alt="img"></div>
                    <div class="recent-content">
                      <ul>
                        <li><img src="/images/calendar.svg" alt="icon">18 Dec, 2024</li>
                      </ul>
                      <h6><a href="/news/news-details" data-discover="true">What's the Holding Back <br>the It Solution</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-sidebar-widget wow fadeInUp" data-wow-delay=".9s">
                <div class="wid-title"><h3>Tags</h3></div>
                <div class="news-widget-categories">
                  <div class="tagcloud">
                    <a href="#">Security</a>
                    <a href="#">Business</a>
                    <a href="#">Digital</a>
                    <a href="#">Technology</a>
                    <a href="#">Change</a>
                    <a href="#">Video</a>
                    <a href="#">UI/UX Desing</a>
                    <a href="#">Startup</a>
                    <a href="#">Services</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</LayoutNico>

